name: Node CI

# When to run the workflow
on:
  push:           # runs on every push
  pull_request:   # runs on every PR

jobs:
  test:           # job name
    runs-on: ubuntu-latest   # which OS the runner uses

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
